


/*  MEDIA QUESIES
=======================================*/





/* FONT STYLES
=======================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root{
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52, 58, 64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    // --primary-gray: #475a63;
    --primargy-light-grey: #f4f4f4;
    --primargy-dark-grey: #666;
    --primargy-grey: #ccd1d9;
    --primary-black: #000;
    --primary-transparent-black: rgba(0, 0, 0 , 0.7);
    --primary-green: green;

 }


body{
    font-family: "Roboto Condensed", sans-serif !important;
    color: var(--primary-gray) !important;
}

*{
    font-weight: 300 !important;
}

/* NAVBAR
=======================================*/

nav{
    z-index: 2;
}

.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    // height: 2rem;
    height: 5rem;
    display: flex !important;
    align-items: center;
    justify-content: center;

}

.hamMenu{
    color: #fff;
}

.logo{
    width: 5rem;
  }
  
  nav{
    a.nav-link{
    //   font-weight: 500;
      letter-spacing: 0.0375rem;
    }

    ul{
        li{
            text-transform: uppercase;
           
        }
    }

    .navbar-nav{
        li{
            a{
                margin-right: 0.75rem;
                margin-left: 0.75rem;
                color: var(--primary-white) !important;
                border-top: 0.1875rem solid var(--primary-dark);
            
            }
            a.active{
                border-top: 0.1875rem solid var(--primary-orange);
              }
            a.active:focus{
                border-top: 0.1875rem solid var(--primary-orange);
              }
            a:hover{
                border-top: 0.1875rem solid var(--primary-orange);
            }

        }
    }
  }


  /* HEADER
=======================================*/

.header-wrapper{
    position: relative;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    .main-info{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1{
            color: var(--primary-orange);
            text-transform: uppercase;
        }
    }
}



  /* TYPED TEXT 
=======================================*/

.typed-text{
    font-size: 2rem;
    color: var(--primary-white);
}

 /* HEADER MAIN OFFER BUTTON
=======================================*/

.btn-main-offer{
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;
    z-index: 1;

}

.btn-main-offer:hover{
    color: var(--primary-white);
    text-decoration: none;
    background-color: var(--primary-hover-red);
    transition: .2s ease-in-out;
}

 /* PARTICLES JS
=======================================*/


.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    z-index: 1;
}


  /* ABOUT ME
=======================================*/

.py-5{
    .photo-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .profileImg{
            width: 16rem;
            border-radius: 50%;
            padding: .3rem;
            border: 1px solid var(--primary-orange);
        }
    }
    .about-heading{
        color: var(--primary-orange);
        text-transform: uppercase;
        font-weight: 300;
    }
}

/* SERVICES
=======================================*/

.services{
    text-align: center;
    padding-bottom: 2rem;
    background: var(--primargy-light-grey);

    h1{
        color: var(--primary-dark);
        text-transform: uppercase;
    }

    .box{
        height: 16rem;
        border-bottom: 0.3125rem solid var(--primary-orange);
        padding: 0.625rem;
        margin-bottom: 1.875rem;
        background: var(--primary-white);
        transition: 0.3s ease-in-out;

        h3{
            margin: 1rem auto;
        }
    }

    .circle{
        position: relative;
        margin: 0.375rem auto;
        background: var(--primary-orange);
        border-radius: 50%;
        width: 3.125rem;
        height: 3.125rem;
        

        .icon{
            font-size: 1.4rem;
            color: var(--primary-white);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    //for hover
    .box:hover{
        background: var(--primary-orange);
        border-bottom: 0.3125rem solid var(--primary-dark);

        p{
            color: var(--primary-white);
        }

        .circle{
            background: var(--primary-white);

            .icon{
                color: var(--primary-dark);
            }
        }
    }

    
}


/* EXPERIENCE
=======================================*/

.experience{
    padding: 0.7rem;
    .experience-wrapper{
        position: relative;
        padding: 3.125rem 0;
        overflow: hidden;

        h1{
            text-transform: uppercase;
            color: var(--primary-orange);
        }
    }
    .experience-wrapper::before{
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        margin-left: -0.0625rem;
        width: 0.125rem;
        height: 100%;
        background: var(--primargy-grey);
        z-index: 1;
    }

    .timeline-block{
        width: calc(50% + 0.5rem);
        display: flex;
        justify-content: space-between;
        clear: both;
    }

    .timeline-block-right{
        float: right;
    }

    .timeline-block-left{
        float: left;
        direction: rtl;
    }

    .marker{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0.3125rem solid var(--primary-dark);
        background: var(--primary-orange);
        z-index: 3;
        margin-top: 0.625rem;
        position: relative;
    }


    .timeline-content{
        width: 95%;
        padding: 0 0.9375rem;
        color: var(--primargy-dark-grey);
        direction: ltr;

        h3{
            color: var(--primary-red);
            margin-top: 0.3125rem;
            font-weight: 900;
        }
    }
    
}



/* PORTFOLIO
=======================================*/

.portfolio-wrapper{
    background: var(--primargy-light-grey);
    padding: 3rem 0;

    h1{
        color: var(--primary-orange);
    }

    .portfolio-image-box{
        position: relative;
        margin: 1rem;

        .portfolio-image{
            width: 15rem;
            border: 1px solid var(--primary-orange);
            padding: 0.5rem;
        }

        .overflow{
            position: absolute;
            opacity: 0;
            background: var(--primary-black);
            width: 15rem;
            height: 8rem;
            top: 0;
            border: 1px solid var(--primary-red);
            cursor: pointer;
        }

        .portfolio-icon{
            position: absolute;
            opacity: 0;
            margin-left: -8rem;
            margin-top: 3.6rem;
            color: var(--primary-orange);
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    .portfolio-image-box:hover{
        .overflow{
            opacity: 60%;
            transition: 0.3s ease-in-out;
        }

        .portfolio-icon{
            opacity: 70%;
            transition: 0.3s ease-in-out;
        }
    }
}

.portfolio-image-popupbox{
    width: 45rem;
    padding: 0.5rem;
}

.hyperlink{
    color: var(--primary-orange);
    cursor: pointer;
    &:hover{
        color: var(--primary-hover-red);
    }
}

.popupbox-content{
    p, b{
        padding: 0 0.5rem;
    }
}


/*  TESTIMONIALS
=======================================*/

.testimonials{
    background-image: url(images/testimonials-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-color: var(--primary-black);
    text-align: center;
    padding-bottom: 4rem;
    margin-bottom: 0;
    width: 100%;
    position: relative;

    .overlay{
        background: var(--primary-transparent-black);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    h1{
        color: var(--primary-orange);
        padding: 3rem 0;
        text-transform: uppercase;
        position: relative;
    }

    .testimonials-content{
        text-align: center;
        max-width: 0 auto 2rem auto;
        // background: var(--primary-transparent-black);
    }

}

.myCarousel{
    color: var(--primary-white);
    background: transparent;
    width: 54%;
    margin-top: -6%;
    margin-left: auto;
    margin-right: auto;
    padding: 6% 5% 8% 5%;
    // height: 17.875rem;
    height: 15rem;

    h3{
        color: var(--primary-orange);
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 1rem;
    }

    p{
        color: var(--primargy-grey);
    }
}

.carousel-root{
    margin: auto !important;
    margin-top: 3% !important;

    .carousel{
        .slide{
            // background: transparent;
            height: 100% !important;
            padding-top: 2rem;

            img{
                width: 10rem !important;
                border-radius: 50%;
            }
        }
    }
    
}


/* CONTACTS
=======================================*/

.contacts{
    background: var(--primary-dark);
    padding: 3rem 0;

    h1{
        color: var(--primary-orange);
        padding: 1.3rem 0;
        text-transform: uppercase;
    }

    p{
        color: var(--primargy-light-grey);
        font-size: 1.2rem;
    }

   
    /********** Inputs  *********/

    

    input, textarea{
        width: 100%;
        box-sizing: border-box;
        background: none;
        resize: none;
        border: 0;
        border-radius: 0;
        border-bottom: 0.125rem solid var(--primargy-dark-grey);
        color: var(--primary-orange);
        outline: 0 !important;
        box-shadow: none !important;
        // margin-bottom: 1rem;
        padding-left: 0;

        .form-control{
            margin:  -0.4rem 0;
        }

        &:focus{
            background: transparent;
            color: var(--primary-orange);
            border-bottom: 0.125rem solid var(--primargy-dark-grey);
        }
    }
    .contact-btn{
       margin: 1rem 0 0;
       width: 100%;
       background: none;
       transition: .2s ease-in-out;

       &:hover{
        color: var(--primary-white);
        text-decoration: none;
        background-color: var(--primary-hover-red);
        transition: .2s ease-in-out;
       }

    }

    textarea{
        height: 12.2rem !important;
    }

    .container{
        padding: 4rem 0;
    }

    .line{
        position: relative;
        width: 0;
        height: 0.125rem;
        background: var(--primary-orange);
        display: inline-block;
        top: -1.06rem;
    }

    input:focus+.line, textarea:focus+.line{
        width: 100%;
        transition: width 0.2s ease-in-out;
        
    }
}

//error-essage

.error-message{
    color: var(--primary-white);
    background: var(--primary-hover-red);
    text-align: left;
}
//success-message
.sucess-message{
    font-weight: 900;
    color: var(--primary-green);
}

/*  MEDIA QUESIES
=======================================*/

@media only screen and (max-width: 768px) {
    .main-info h1{
        font-size: 1.5rem;
    }

    .particles-canvas{
        display: none;
    }

    .typed-text{
        font-size: 1.7rem;
    }

    .experience{
        .experience-wrapper{
            padding-left: 0;
        }

        .experience-wrapper::before{
           left: 0.5rem;
            margin-bottom: 1.875rem;                      
        }
    
        .timeline-block-right{
            float: none;
            width: 100%;
        }
    
        .timeline-block-left{
            float: none;
            width: 100%;
            direction: ltr;
        }
    }

    .portfolio-image-popupbox{
        width: 100%;
    }

    .contacts{
        overflow-x: hidden;

       .container{
        padding: 0 1rem;
       }

       p{
           padding: 0 0.4rem;
       }
    }
}


@media only screen and (max-width: 468px) {
    .profile-img{
        width: 10rem;
    }

 
}