/* FONT STYLES
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-gray: #475a63;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  color: var(--primary-gray) !important;
}

/* NAVBAR
=======================================*/
nav {
  z-index: 2;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamMenu {
  color: #fff;
}

.logo {
  width: 5rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

nav .navbar-nav li a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

nav .navbar-nav li a.active {
  border-top: 0.1875rem solid var(--primary-orange);
}

nav .navbar-nav li a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

nav .navbar-nav li a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* HEADER
=======================================*/
.header-wrapper {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.header-wrapper .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-wrapper .main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/* TYPED TEXT 
=======================================*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/* HEADER MAIN OFFER BUTTON
=======================================*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  z-index: 1;
}

.btn-main-offer:hover {
  color: var(--primary-white);
  text-decoration: none;
  background-color: var(--primary-hover-red);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* PARTICLES JS
=======================================*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  z-index: 1;
}

/* ABOUT ME
=======================================*/
.py-5 .photo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.py-5 .photo-wrap .profileImg {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.py-5 .about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: 300;
}

/*  MEDIA QUESIES
=======================================*/
@media only screen and (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem;
  }
  .particles-canvas {
    display: none;
  }
  .typed-text {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
/*# sourceMappingURL=App.css.map */